body {
background: black;
text-align: center;
}

h1 {
font-family: Verdana, sans-serif;
font-size: 50px;
color: white;
font-weight: normal;
text-align: center;
}
h2 {
font-family: Verdana, san-serif;
color: white;
font-weight: 300;
text-align: center;
}
h6 {
color: aquamarine;
font-size: 16px;
}

p{
font-family: Verdana, sans-serif;
font-size: 21px;
color: gray;
}
.footer {
margin-right:10px;
}
